<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2R4dqufo9D3QyclBzJGib3eeWL3kKPcw</string>
	<key>GCM_SENDER_ID</key>
	<string>757428956478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rootstrap.react-native-base</string>
	<key>PROJECT_ID</key>
	<string>react-native-base-test</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-base-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757428956478:ios:8e44b73eddda667699106f</string>
</dict>
</plist>